.header {
    height: 8vh;
    padding: 0.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        margin: unset;
    }
    p {
        margin: unset;
    }
}